<% game = @game if @game != nil %>
<div class="row" id="square-<%= square.id %>">
position: <%= square.position %>
status: <%= square.status %>
<% if square.user.nil? && game.turn == current_user.id && game.players.count > 1%>
    <button class="take_square" value="<%= square.id %>">Take</button> 
<% end %>
</div>
