<div class="row">
position: <%= square.position %>
status: <%= square.status %>
<% if square.user.nil? && @game.turn == current_user.id %>
    <button class="take_square" value="<%= square.id %>">Take</button> 
<% end %>
</div>
