<div class="row main">
  <div class="col-md-12 text-center wrapper">
    <p>Log in with Facebook, Google, or Twitter</p>
      <%- resource_class.omniauth_providers.each do |provider| %>
          <%= link_to omniauth_authorize_path(resource_name, provider), class: "btn btn-default" do %>
              <% content_tag(:i, nil, class: "fa fa-2x #{omniauth_icon_for(provider)}") %>
          <% end %>
      <% end -%>
  </div>
</div>